<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ALL</title>
    <link type="text/css" rel="stylesheet" href="../static/css/all.css"/>
</head>
<body>
<ul class="menu">
    <h1 align="center">项目展示</h1>
</ul>

<div class="choice">
    <li><a href="" >首页</a></li>
    <li><a href="" >项目1成果展示</a></li>
    <li><a href="" >项目2成果展示</a></li>
    <li><a href="" >项目3成果展示</a></li>
    <li><a href="" >项目4成果展示</a></li>
</div>
<div class="introduce">
    <h2>介绍</h2>
    <p>欢迎来到guduyao林培健的简易的项目成果展示，请选择左边的按钮展示项目成果。项目分别为：</p>
    <ul type="circle">
        <li><p>项目1为“基于计算机视觉的交通场景智能应用”；</p></li>
        <li><p>项目2为“无人餐饮系统”；</p></li>
        <li><p>项目3为“精准蚊虫生物识别”；</p></li>
        <li><p>项目4为“智能水面清洁机系统研究”；</p></li>
    </ul>

    <p>以下为项目成果的部分展示图：</p>
    <br>
    <img src="../static/img/4.png">
    <span>图1：项目1</span>
    <img src="../static/img/5.png">
    <span>图3：项目3</span>
</div>
<div class="gif">
    <p><img src="../static/img/1.gif"></p>
    <p></p>
    <img src="../static/img/3.jpg">
    <span>图2：项目2</span>
    <img src="../static/img/3.jpg">
    <span>图4：项目4</span>
</div>



</body>
</html>